html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  color: #fff;
  margin: 0;
  font-family: "Bevan", serif;
  text-align: center;
  display: block;
}

title {
  color: #79756f;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0.6em;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  background-color: #713837;
  color: white;
  padding: .6em;
  border-radius: .3em;
  text-align: center;
  font-family: arial;
  padding: 0.5em 0.75em;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.nav a:hover {
  background-color: #f33;
}
